[submodule "acct-group/ccache"]
	path = acct-group/ccache
	url = https://github.com/thaewrapt/acct-group-ccache.git

[submodule "acct-user/ccache"]
	path = acct-user/ccache
	url = https://github.com/thaewrapt/acct-user-ccache.git

[submodule "app-emulation/virtualbox"]
	path = app-emulation/virtualbox
	url = https://github.com/thaewrapt/app-emulation-virtualbox.git

